arrow
fastapi
gymnasium
matplotlib
numpy
pandas
pillow
pyarrow
requests
scikit-learn
scipy
tqdm
kubernetes
uvicorn
anthropic>=0.39.0
pyyaml
--extra-index-url https://download.pytorch.org/whl/cpu
torch
